body {
  background-image: url("../images/screenPicture.png");
  background-size: cover;
  margin: 0;
}

#gameOver {
  font-family: monospace;
  font-weight: bold;
  width: 57%;
  height: 77.5%;
  position: absolute;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 250%;
  margin: 1% 0 0 21.4%;
  display: none;
  border-radius: 15px;
}

#gameOver h1 {
  margin: 10% 5% 3% 0;
}

#gameOver h3 {
  font-size: 100%;
  margin-right: 5%;
  animation: blink 1.5s linear infinite alternate;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

#startScreen {
  font-family: "Monospace";
  font-weight: bold;
  width: 56.6%;
  height: 80%;
  position: absolute;
  color: white;
  background-color: black;
  text-align: center;
  margin: 1% 0 0 21.6%;
  display: block;
  background-position: 5%;
  background-image: url("../images/startScreenBackground.gif");
  background-size: cover;
  border-radius: 10px;
}

#Legend {
  font-family: monospace;
  font-weight: bold;
  width: 57%;
  height: 77.5%;
  position: absolute;
  color: white;
  background-color: black;
  text-align: left;
  font-size: 200%;
  margin: 1% 0 0 21.4%;
  display: none;
  border-radius: 15px;
}

.toggleSoundText {
  margin: 8% 14% 0 0;
  text-align: center;
  float: right;
}

.rKeyPower {
  margin: 0 9% 0 0;
  text-align: center;
  float: right;
}

.circles {
  margin: 8% 0 0 4%;
  width: 3%;
  height: 4%;
}

.arrowKeys {
  margin: 2% 0 0 10%;
  float: left;
}

.changesText {
  margin: 2% 0 0 12%;
  text-align: center;
  line-height: 200%;
  float: left;
  display:block;
}

.score {
  color: white;
  font-size: 110%;
  margin: 0 5% 0 0;
}

.instructions {
  margin: 4% 0 0 37%;
  text-decoration: underline;
  font-size: 140%;
  width: 57%;
  height: 57%;
}

#startScreen h3 {
  font-size: 200%;
  margin: 40% 0 0 0;
  animation: blink2 1.5s linear infinite alternate;
}

@keyframes blink2 {
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

.snakePictureGameOver {
  width: 65%;
  height: 45%;
  margin: auto 5% 0 0;
}

canvas {
  background-color: black;
  display: block;
  margin: 3% 0 0 21.8%;
  border-radius: 15px;
}

@media (max-width: 1280px) {

  body {
    background-image: url("../images/screenPicture.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #startScreen {
      margin: 0 0 0 20.8%;
      width: 57%;
      height: 65%;
  }

  #startScreen .snakePixelTitle {
    width: 18%;
    margin: 13% 0 0 0;
  }

  #Legend {
    margin: 0 0 0 20.8%;
    width: 57%;
    height: 65%;
  }

  canvas {
    margin: 3% 0 0 21.5%;
  }

  #gameOver {
    width: 57%;
    height: 67%;
    margin: 0 0 0 20.8%;
  }

}


@media (max-width: 1440px) {

  body {
    background-image: url("../images/screenPicture.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #startScreen {
      margin: 0 0 0 20.8%;
      width: 57%;
      height: 65%; 
  }

  #startScreen .snakePixelTitle {
    width: 18%;
    margin: 16% 0 0 6%;
  }

  canvas {
    margin: 3% 0 0 21.5%;
  }

  #Legend {
    margin: 0 0 0 20.8%;
    width: 57%;
    height: 65%; 
  }

  #gameOver {
    width: 57%;
    height: 67%;
    margin: 0 0 0 20.8%;
  }

}