body {
  background-image: url("../images/screenPicture.png");
  background-size: cover;
}

#gameOver {
  font-family: monospace;
  font-weight: bold;
  width: 57%;
  height: 77%;
  position: absolute;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 250%;
  margin: 1% 0 0 21%;
  display: none;
  border-radius: 15px;
}

#gameOver h1 {
  margin: 10% 5% 0 0;
}

#gameOver h3 {
  font-size: 95%;
  margin-right: 5%;
  animation: blink 1.5s linear infinite alternate;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

#startScreen {
  font-family: "Lucida Console";
  font-weight: bold;
  width: 57%;
  height: 77%;
  position: absolute;
  color: white;
  text-align: center;
  margin: 1% 0 0 21%;
  display: block;
  background-image: url("../images/startScreenBackground.gif");
  background-size: cover;
  border-radius: 15px;
}

#startScreen h1 {
  width: 80%;
  height: 80%;
}

.snakePixelTitle {
  width: 18%;
  margin: 17% 0 0 4%;
}

#startScreen h3 {
  font-size: 200%;
  margin: 15% 0 0 0;
  animation: blink2 1.5s linear infinite alternate;
}

@keyframes blink2 {
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

.snakePictureGameOver {
  width: 70%;
  height: 50%;
  margin: auto 5% 0 0;
}

canvas {
  background-color: black;
  display: block;
  margin: 3% 0 0 21.5%;
  border-radius: 15px;
}

@media (max-width: 1280px) {

  body {
    background-image: url("../images/screenPicture.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #startScreen {
      font-family: "Lucida Console";
      font-weight: bold;
      margin: 0 0 0 20.8%;
      width: 57%;
      height: 65%;
  }

  #startScreen .snakePixelTitle {
    width: 18%;
    margin: 16% 0 0 6%;
  }

  canvas {
    width: 57%;
    height: 57%;
    margin: 3% 0 0 21.5%;
  }

  #gameOver {
    width: 57%;
    height: 65%;
    margin: 0 0 0 20.8%;
  }

}


@media (max-width: 1440px) {

  body {
    background-image: url("../images/screenPicture.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #startScreen {
      font-family: "Lucida Console";
      font-weight: bold;
      margin: 0 0 0 20.8%;
      width: 57%;
      height: 65%;
  }

  #startScreen .snakePixelTitle {
    width: 18%;
    margin: 16% 0 0 6%;
  }

  canvas {
    width: 57%;
    height: 57%;
    margin: 3% 0 0 21.5%;
  }

  #gameOver {
    width: 57%;
    height: 65%;
    margin: 0 0 0 20.8%;
  }

}
